<h1>Test info goes here</h1>

<%= form_with(model: @tester, local: true) do |form| %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div class="field">
    <%= form.label :body %>
    <%= form.text_field :body %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

